<%- include('header') -%>
<html>
  <section class="lecture">
    
    <div class="heading" style="background-image: url('<%= lecture.image %>')" >
      <span class="heading__category"><%= category %></span>
      <h2 class ="heading__title"> <%= title %> </h2>
      </div>

      <%- html %>
      <a class="lecture__back" href="/">Til baka</a>
  </section>

<%- include('footer') -%>
    